<!doctype html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>学科竞赛后台管理</title>
        <meta name="renderer" content="webkit|ie-comp|ie-stand">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<!--
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
-->
        <meta http-equiv="Cache-Control" content="no-siteapp" />
        <link rel="stylesheet" th:href="@{/admin/css/font.css}">
        <link rel="stylesheet" th:href="@{/admin/css/xadmin.css}">
        <!-- <link rel="stylesheet" href="./css/theme5.css"> -->
        <script th:src="@{/admin/lib/layui/layui.js}" charset="utf-8"></script>
        <script type="text/javascript" th:src="@{/admin/js/xadmin.js}"></script>
        <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
        <!--[if lt IE 9]>
        <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
        <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <script>
            // 是否开启刷新记忆tab功能
            var is_remember = false;
        </script>
    </head>
    <body class="index">
        <!-- 顶部开始 -->
        <div class="container">
            <div class="logo">
                <a href="javascript:;">学科竞赛管理</a></div>
            <div class="left_open">
                <a><i title="展开左侧栏" class="iconfont">&#xe699;</i></a>
            </div>
           <!-- <ul class="layui-nav left fast-add" lay-filter="">
                <li class="layui-nav-item">
                    <a href="javascript:;">窗口实例演示</a>
                    <dl class="layui-nav-child">
                        &lt;!&ndash; 二级菜单 &ndash;&gt;
                        <dd>
                            <a onclick="xadmin.open('最大化','../BaseAction/index','','',true)">
                                <i class="iconfont">&#xe6a2;</i>弹出最大化</a></dd>
                        <dd>
                            <a onclick="xadmin.open('弹出自动宽高','../BaseAction/index')">
                                <i class="iconfont">&#xe6a8;</i>弹出自动宽高</a></dd>
                        <dd>
                            <a onclick="xadmin.open('弹出指定宽高','../BaseAction/index',500,300)">
                                <i class="iconfont">&#xe6a8;</i>弹出指定宽高</a></dd>
                        <dd>
                            <a onclick="xadmin.add_tab('在tab打开','../BaseAction/index')">
                                <i class="iconfont">&#xe6b8;</i>在tab打开</a></dd>
                        <dd>
                            <a onclick="xadmin.add_tab('在tab打开刷新','../BaseAction/index',true)">
                                <i class="iconfont">&#xe6b8;</i>在tab打开刷新</a></dd>
                    </dl>
                </li>
            </ul>-->
            <ul class="layui-nav right" lay-filter="">
                <li class="layui-nav-item">
                    <a href="javascript:;">欢迎你：<span th:text="${session.loginUser.truename}"></span></a>
                    <dl class="layui-nav-child">
                        <!-- 二级菜单 -->
                        <dd><a th:href="@{/LoginAction/logout}">退出</a></dd>
                        <dd>
                            <a onclick="resetPassWord()">
                                <i class="iconfont">&#xe6b8;</i>修改密码
                            </a>
                        </dd>

                    </dl>
                </li>
                <li class="layui-nav-item to-index">
                    <a th:href="@{/BaseAction/index}">前台首页</a></li>
            </ul>
        </div>
        <!-- 顶部结束 -->
        <!-- 中部开始 -->
        <!-- 左侧菜单开始 -->
        <div class="left-nav">
            <div id="side-nav">
                <ul id="nav">
                    <li>
                        <a href="javascript:;">
                            <i class="iconfont left-nav-li" lay-tips="会员管理">&#xe6b8;</i>
                            <cite>会员管理</cite>
                            <i class="iconfont nav_right">&#xe697;</i></a>
                        <ul class="sub-menu">
                            <li>
                                <a onclick="xadmin.add_tab('老师列表','../AdminMember/member_list')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>老师列表</cite></a>
                            </li>
                            <li>
                                <a onclick="xadmin.add_tab('学生列表','../AdminMember/member_list1',true)">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>学生列表</cite></a>
                            </li>
                            <li>
                                <a onclick="xadmin.add_tab('团队列表','../AdminMember/member_team',true)">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>团队列表</cite></a>
                            </li>
                            <li>
                                <a onclick="xadmin.add_tab('删除列表','../AdminMember/member_del',true)">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>删除列表</cite></a>
                            </li>
                        </ul>
                    </li><!--会员管理-->
                    <li>
                        <a href="javascript:;">
                            <i class="iconfont left-nav-li" lay-tips="公告管理">&#xe723;</i>
                            <cite>公告管理</cite>
                            <i class="iconfont nav_right">&#xe697;</i></a>
                        <ul class="sub-menu">
                           <!-- <li>
                                <a onclick="xadmin.add_tab('新闻列表','order-list.html')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>新闻列表</cite></a>
                            </li>-->
                            <li>
                                <a onclick="xadmin.add_tab('通知列表','../AdminNotice/toNotice')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>通知列表</cite></a>
                            </li>
                            <!--<li>
                                <a onclick="xadmin.add_tab('获奖列表','order-list1.html')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>获奖列表</cite></a>
                            </li>-->
                        </ul>
                    </li><!--公告管理-->
                    <li>
                        <a href="javascript:;">
                            <i class="iconfont left-nav-li" lay-tips="竞赛管理">&#xe723;</i>
                            <cite>竞赛管理</cite>
                            <i class="iconfont nav_right">&#xe697;</i></a>
                        <ul class="sub-menu">
                            <li>
                                <a onclick="xadmin.add_tab('竞赛列表','../AdminCompetition/competitionlist')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>竞赛列表</cite></a>
                            </li>
                            <li>
                                <a onclick="xadmin.add_tab('竞赛种类','../AdminCompetition/competitiontplist')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>竞赛种类列表</cite></a>
                            </li>
                            <li>
                                <a onclick="xadmin.add_tab('竞赛记录','cate.html')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>竞赛记录</cite></a>
                            </li>
                        </ul>
                    </li><!--竞赛管理-->
                    <li>
                        <a href="javascript:;">
                            <i class="iconfont left-nav-li" lay-tips="资料管理">&#xe723;</i>
                            <cite>资料管理</cite>
                            <i class="iconfont nav_right">&#xe697;</i></a>
                        <ul class="sub-menu">
                            <li>
                                <a onclick="xadmin.add_tab('资料列表','../AdminFile/fileList')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>资料列表</cite></a>
                            </li>
                        </ul>
                    </li><!--资料管理-->
                    <li>
                        <a href="javascript:;">
                            <i class="iconfont left-nav-li" lay-tips="活动管理">&#xe726;</i>
                            <cite>活动管理</cite>
                            <i class="iconfont nav_right">&#xe697;</i></a>
                        <ul class="sub-menu">
                            <li>
                                <a onclick="xadmin.add_tab('管理员列表','admin-list.html')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>活动申请列表</cite></a>
                            </li>
                            <li>
                                <a onclick="xadmin.add_tab('角色管理','admin-role.html')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>活动记录列表</cite></a>
                            </li>
                        </ul>
                    </li><!--活动管理-->
                </ul>
            </div>
        </div>
        <!-- <div class="x-slide_left"></div> -->
        <!-- 左侧菜单结束 -->
        <!-- 右侧主体开始 -->
        <div class="page-content">
            <div class="layui-tab tab" lay-filter="xbs_tab" lay-allowclose="false">
                <ul class="layui-tab-title">
                    <li class="home">
                        <i class="layui-icon">&#xe68e;</i>
                        我的桌面
                    </li>
                </ul>
                <div class="layui-unselect layui-form-select layui-form-selected" id="tab_right">
                    <dl>
                        <dd data-type="this">关闭当前</dd>
                        <dd data-type="other">关闭其它</dd>
                        <dd data-type="all">关闭全部</dd>
                    </dl>
                </div>
                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">
                        <iframe th:src='@{/Admin/welcome}' frameborder="0" scrolling="yes" class="x-iframe"></iframe>
                    </div>
                </div>
                <div id="tab_show"></div>
            </div>
        </div>
        <div class="page-content-bg"></div>
        <style id="theme_style"></style>
        <!-- 右侧主体结束 -->
        <!-- 中部结束 -->
    </body>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var resetPassword = /*[[@{/LoginAction/resetPassWord}]]*/;//获取动作地址
        /*]]>*/
        function resetPassWord() {

            xadmin.open('弹出自动宽高',resetPassword);
        }
    </script>
</html>