<!DOCTYPE >
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>学生管理页面</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!--
            <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    -->
    <link rel="stylesheet" th:href="@{/admin/css/font.css}">
    <link rel="stylesheet" th:href="@{/admin/css/xadmin.css}">
    <!-- <link rel="stylesheet" href="./css/theme5.css"> -->
    <script th:src="@{/admin/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/admin/js/xadmin.js}"></script>
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12" th:if="${session.loginUser.comid!=null&&session.loginUser.teamid==null}">
            <div class="layui-card">
                <!--<div class="layui-card-body ">
                    <blockquote class="layui-elem-quote">你还没有参加团队,以下是你报名竞赛的团队，快去申请加入吧！
                    </blockquote>
                </div>-->
                <!--tabs选项卡-->
                <div class="layui-tab  layui-tab-card">
                    <ul class="layui-tab-title">
                        <li class="layui-this">团队查看</li>
                        <li>申请记录</li>
                    </ul>
                    <div class="layui-tab-content" >
                        <div class="layui-tab-item layui-show">
                                <table id="tabTitle" lay-filter="tabTitle"></table>
                        </div>
                        <div class="layui-tab-item">
                            <table id="tabTitle1" lay-filter="tabTitle1"></table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="layui-col-md12" th:if="${session.loginUser.comid!=null&&session.loginUser.teamid!=null}">
            <input id="id" th:value="${{userTeam.teamid}}" type="hidden">
            <div class="layui-card" th:if="${createteam==null}">
                <div class="layui-card-body" >
                    <blockquote class="layui-elem-quote">
                        <div class="layui-row layui-col-space10">
                            <p class="layui-col-xs3">团队名称:<span th:text="${userTeam.teamname}"></span></p>
                            <p class="layui-col-xs3">指导老师:<span th:text="${userTeam.teacher.truename}"></span></p>
                            <p class="layui-col-xs3">学生队长:<span th:text="${userTeam.captain.truename}"></span></p>
                            <p class="layui-col-xs3">团队介绍:<span th:text="${userTeam.info}"></span></p>
                        </div>
                    </blockquote>
                </div>
                <div class="layui-card-body ">
                    <table id="teamTable" lay-filter="teamTable"></table>
                </div>
            </div>
            <div class="layui-card" th:if="${createteam!=null}">
                <div class="layui-card-body" >
                    <blockquote class="layui-elem-quote">
                        你创建的团队还在等待指导老师批准申请，此时你将不能申请加入别人的团队。
                        <button style="float: right;" class="layui-btn layui-btn-danger" onclick="quxiaochuangjian()">取消创建</button>
                    </blockquote>
                    <blockquote class="layui-elem-quote">
                        <div class="layui-row layui-col-space10">
                            <p class="layui-col-xs3">团队名称:<span th:text="${userTeam.teamname}"></span></p>
                            <p class="layui-col-xs3">指导老师:<span th:text="${userTeam.teacher.truename}"></span></p>
                            <p class="layui-col-xs3">学生队长:<span th:text="${userTeam.captain.truename}"></span></p>
                            <p class="layui-col-xs3">团队介绍:<span th:text="${userTeam.info}"></span></p>
                        </div>
                    </blockquote>
                    <blockquote class="layui-elem-quote">
                        为了尽快让指导老师批准申请，请你上传团队宣传图片
                        <button style="float: right;" class="layui-btn " onclick="picWatch()">上传图片</button>
                    </blockquote>
                </div>

            </div>
        </div>
        <div class="layui-col-md12" th:if="${session.loginUser.comid==null}">
            <div class="layui-card">
                <div class="layui-card-header">你还没有报名竞赛,请先报名竞赛</div>
                <div class="layui-card-body ">
                    <ul class="layui-row layui-col-space10 layui-this x-admin-carousel x-admin-backlog">
                        <li class="layui-col-md2 layui-col-xs6" th:each="comTp:${session.comTp}">
                            <a th:href="@{/User/signUp(id=${comTp.comtpid})}" class="x-admin-backlog-body" target="_blank">
                                <div th:text="${comTp.name}"></div>
                                <p>现在报名</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div><!--没有团队且没有报名竞赛-->
    </div>
</div>
</body>


<script type="text/html" id="barDemo">
    <a onclick="forwardTeam({{d.teamid}})" title="查看成员详情" href="javascript:;">
        <i class="layui-icon">&#xe63c;</i>
    </a>
    <a title="申请加入" onclick="teambm({{d.teamid}})" href="javascript:;">
        <i class="layui-icon">&#xe67b;</i>
    </a>
    <!-- 这里同样支持 laytpl 语法，如： -->
    <!--{{#  if(d.experience > 100){ }}
    <a class="layui-btn layui-btn-xs" lay-event="check">审核</a>
    {{#  } }}-->
</script>
<script type="text/html" id="barDemo1">
    <a onclick="downloadFile({{d.userid}})" title="查看简历" href="javascript:;">
        <i class="layui-icon">&#xe63c;</i>
    </a>
    <a  lay-event="jujue" title="拒绝" href="javascript:;"  class="layui-hide captianCaozuo1">
        <i class="layui-icon">&#x1006;</i>
    </a>
    <a  lay-event="tongyi" title="同意" href="javascript:;"  class="layui-hide captianCaozuo2">
        <i class="layui-icon">&#xe672;</i>
    </a>
</script>
<script type="text/html" id="barDemo2">


    {{#  if(d.state == 1){ }}
    <a onclick="quxiaoshenqing({{d.id}})" title="取消申请" href="javascript:;">
        <i class="layui-icon">&#x1006;</i>
    </a>
    {{#  } }}
</script>
<script type="text/html" id="toolbarDemo">
    <div class = "layui-btn-container" >
        <button class="layui-btn" onclick="xadmin.open('创建团队','./toTeamAdd',600,400)"><i class="layui-icon"></i>创建团队</button>
        <button class="layui-btn" lay-submit=""  onclick="location.reload()" title="刷新">
            <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
        </button>
    </div >
</script>
<script type="text/html" id="toolbarDemo1">
    <div class = "layui-btn-container" >
        <button class="layui-btn " lay-filter="bmstu" lay-submit="">查看申请加入学生</button>
        <button class="layui-btn " onclick="picWatch()">宣传图片查看与修改</button>
        <button class="layui-btn layui-btn-danger" onclick="tuichu()"><i class="layui-icon"></i>退出团队</button>
        <button class="layui-btn"   onclick="location.reload()" title="刷新">
            <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
        </button>
    </div >
</script>
<script type="text/html" id="zizeng">
    {{d.LAY_TABLE_INDEX+1}}
</script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var Url = /*[[@{/UserTeam/pageTeam}]]*/;//获取动作地址
    var src = /*[[@{/teamPic}]]*/;//获取动作地址
    var teamuser = /*[[@{/UserTeam/tuanyuanxueshen}]]*/;//获取动作地址
    var shenqingxueshen = /*[[@{/UserTeam/shenqingxueshen}]]*/;//获取动作地址
    var shenqingjilu = /*[[@{/UserTeam/shenqingjilu}]]*/;//获取动作地址
    var TongyiUrl = /*[[@{/UserTeam/tongyi}]]*/;//获取动作地址
    var jujueUrl = /*[[@{/UserTeam/jujue}]]*/;//获取动作地址
    var editPic = /*[[@{/UserTeam/editPic}]]*/;//取值
    /*]]>*/

    layui.use(['table', 'layer', 'element', 'jquery', 'form'], function (table, layer, element, $, form) {
        var element = layui.element;
        var id =$("#id").val();
        var table = layui.table;
        //执行渲染初始化表格
        table.render({
            elem: '#tabTitle' //指定原始表格元素选择器（推荐id选择器）
            ,url: Url
            ,height: 'full-150'
            ,page:true
            ,limit:10
            ,limits:[5,10,15,20]
            ,method: 'post'
            ,toolbar: '#toolbarDemo'
            ,where: {type: 1}
            ,cols:  [
                [ //标题栏
                    ,{field: 'teamid', title: 'ID', width: 80,sort: true}
                    ,{field: 'teamname', title: '团队名', width: 120}
                    ,{field:'state',  minWidth: 100,title:'团队状态',templet: function (d) {
                        return d.teamState;
                    }
                }
                    ,{field:'captain.truename', width:100,title:'团队队长'
                    ,templet: function (d) {
                        return d.captain.truename;
                    }
                }
                    ,{field: 'competition.comtype.name',  Width: 80, title: '团队竞赛'
                    , templet: function (d) {
                        return d.competition.comtype.name;
                    }
                }
                    ,
                    {
                        field:'d.com.name',  Width: 80,title:'指导老师',
                        templet: function (d) {

                            return d.teacher.truename;
                        }
                    }
                    ,{  minWidth: 200,title:'宣传图片',event:"updatePic",templet:function(d){
                        var src1 = d.pic;

                        var selMaintenanceItem = '<img   src="'+src+'/'+src1+'" >'
                        return selMaintenanceItem;
                    }}
                    ,{field:'caozuo',toolbar: '#barDemo',title:'操作'}
                ]
            ]
        });
        table.render({
            elem: '#tabTitle1' //指定原始表格元素选择器（推荐id选择器）
            ,id:'tabTitle1'
            ,url: shenqingjilu
            ,height: 'full-150'
            ,method: 'post'
            //,toolbar: '#toolbarDemo1'
            ,where: {id: id}
            ,cols:  [
                [ //标题栏
                    /*{checkbox: true}
                    ,
                    ,*/
                    {field: 'id', title: 'ID', width: 80,sort: true,hide:Boolean},
                    {field:'zizeng', width:80, title: '序号',fixed: 'left',templet:'#zizeng'},
                    {
                        field: 'username', title: '姓名', width: 120 ,
                        templet: function (d) {
                            return d.student.truename;
                        }
                    }

                    ,{
                    field: 'email',  minWidth: 100, title: '团队名',
                    templet: function (d) {
                        return d.team.teamname;
                    }
                }
                    ,
                    {
                        field: 'card',  Width: 80, title: '指导老师',
                        templet: function (d) {
                            return d.team.teacher.truename;
                        }
                    },
                    {
                        field: 'card',  Width: 80, title: '队长',
                        templet: function (d) {
                            return d.team.captain.truename;
                        }
                    }
                    ,{
                    field: 'createtime', width: 100, title: '组团状态' ,
                    templet: function (d) {
                        return d.teamUserState;
                    }
                }

                    ,{field:'caozuo',toolbar: '#barDemo2',title:'操作'}
                ]
            ]
        });
        table.render({
            elem: '#teamTable' //指定原始表格元素选择器（推荐id选择器）
            ,id:'teamTable'
            ,url: teamuser
            ,height: 'full-150'
            ,method: 'post'
            ,toolbar: '#toolbarDemo1'
            ,where: {id: id}
            ,done: function(res, curr, count){
                //如果是异步请求数据方式，res即为你接口返回的信息。
                //如果是直接赋值的方式，res即为：{data: [], count: 99} data为当前页数据、count为数据总长度
                if(res.msg=="ok"){//如果是组长查看申请加入的学生
                    //$("#captianCaozuo").show();
                    $(".captianCaozuo1").removeClass("layui-hide");
                    $(".captianCaozuo2").removeClass("layui-hide");


                }
            }
            ,cols:  [
                [ //标题栏
                    /*{checkbox: true}
                    ,
                    ,*/
                    {field: 'id', title: 'ID', width: 80,sort: true,hide:Boolean},
                    {field:'zizeng', width:80, title: '序号',fixed: 'left',templet:'#zizeng'},
                    {
                        field: 'username', title: '姓名', width: 120 ,
                        templet: function (d) {
                            return d.student.truename;
                        }
                    }

                    ,{
                    field: 'email',  minWidth: 100, title: '邮箱',
                    templet: function (d) {
                        return d.student.email;
                    }
                }
                    ,
                    {
                        field: 'card',  Width: 80, title: '学号',
                        templet: function (d) {
                            return d.student.card;
                        }
                    }
                    ,{
                    field: 'createtime', width: 100, title: '组团状态' ,
                    templet: function (d) {
                        return d.teamUserState;
                    }
                }

                    ,{field:'caozuo',toolbar: '#barDemo1',title:'操作'}
                ]
            ]
        });

        form.on('submit(bmstu)', function(data){
            /*var formData = data.field;
            var name = formData.name,
                url=formData.url,
                icon=formData.icon,
                parent_id=formData.parent_id;*/
            //执行重载

            table.reload('teamTable', {
                url: shenqingxueshen
                ,page: {
                    curr: 1 //重新从第 1 页开始
                }
                ,where: {

                }

            }, 'data');
            return false;//false：阻止表单跳转  true：表单跳转
        });

        //监听行工具栏事件
        table.on('tool(teamTable)', function(obj){ //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var tr = obj.tr; //获得当前行 tr 的 DOM 对象（如果有的话）

            if(layEvent === 'tongyi'){ //同意
                layer.confirm('是否同意', function(index){
                    console.log(JSON.stringify(data.id))
                    $.ajax({
                        async:false,//同步提交
                        url:TongyiUrl, //执行的动作地址
                        data:{id:JSON.stringify(data.id)}, //传参数
                        success:function(msg){
                            if(msg=='ok')//说明该验证码不对
                            {
                                layer.msg('成功', {
                                    icon: 1,
                                    time: 2000 //2秒关闭（如果不配置，默认是3秒）
                                }, function(){
                                    layer.close(index);
                                    location.reload();//刷新父页面
                                });
                            }else {
                                layer.msg("失败")
                                layer.close(index);
                                window.parent.location.reload();//刷新父页面
                            }
                        }
                    });
                    layer.close(index);
                });
            } else if(layEvent === 'jujue'){ //拒绝
                layer.confirm('是否拒绝', function(index){
                    $.ajax({
                        async:false,//同步提交
                        url:jujueUrl, //执行的动作地址
                        data:{id:JSON.stringify(data.id)}, //传参数
                        success:function(msg){
                            if(msg=='ok')//说明该验证码不对
                            {
                                layer.msg('拒绝成功', {
                                    icon: 1,
                                    time: 2000 //2秒关闭（如果不配置，默认是3秒）
                                }, function(){
                                    layer.close(index);
                                    location.reload();//刷新父页面
                                });
                            }else {
                                layer.msg("失败")
                                layer.close(index);
                                //window.parent.location.reload();//刷新父页面
                            }
                        }
                    });


                });
            }
        });

    })
</script>

<script th:inline="javascript">

    /*<![CDATA[*/
    var baoming = /*[[@{/UserTeam/baomingTeam}]]*/;//获取动作地址
    var forwardTeamUrl = /*[[@{/AdminMember/forwardTeam}]]*/;//获取动作地址
    var downloadUrl = /*[[@{/File/PersonFileDownload}]]*/;//获取动作地址
    var quxiaoshenqingUrl = /*[[@{/UserTeam/quxiaoshenqingUrl}]]*/;//获取动作地址
    var tuichuUrl = /*[[@{/UserTeam/tuichuUrl}]]*/;//获取动作地址
    var quxiaochuangjianUrl = /*[[@{/UserTeam/quxiaochuangjianUrl}]]*/;//获取动作地址
    /*]]>*/
    //申请加入团队
    function teambm(id) {
        layer.confirm('是否报名', {icon: 3, title:'提示'}, function(index){
            //do something
            $.ajax({
                async:false,//同步提交
                url:baoming, //执行的动作地址
                data:{id:id}, //传参数
                success:function(msg){
                    if(msg=='ok')//说明该验证码不对
                    {
                        layer.msg('成功', {
                            icon: 1,
                            time: 2000 //2秒关闭（如果不配置，默认是3秒）
                        }, function(){
                            layer.close(index);
                            location.reload();//刷新父页面
                        });
                    }else if(msg=='chongfu'){
                        layer.msg('请不要重复申请', {
                            icon: 2,
                            time: 2000 //2秒关闭（如果不配置，默认是3秒）
                        }, function(){
                            layer.close(index);
                            location.reload();//刷新父页面
                        });
                    }else {
                        layer.msg('失败', {
                            icon: 1,
                            time: 2000 //2秒关闭（如果不配置，默认是3秒）
                        }, function(){
                            layer.close(index);
                            location.reload();//刷新父页面
                        });
                    }
                }
            });
        });
    }
    //在线预览团员简历
    function downloadFile(userid) {

            var urlStr1 =downloadUrl;
            //form提交下载
            var form = $('<form></form>');
            form.attr('style', 'display:none');
            form.attr('target', '_blank');
            form.attr('method', 'post'); //form提交路径      
            form.attr('action', urlStr1)
            var input = $('<input type="text" name="userid" id="fileId" />'); // 可以添加一些参数
            var input1 = $('<input type="text" name="openStyle" id="openStyle" />'); // 可以添加一些参数
            input.attr('value', userid);
            input1.attr('value', "inline");
            form.append(input);
            form.append(input1);
            $(document.body).append(form);
            form.submit();


    }
    //查看团队成员详情
    function forwardTeam(id) {
        xadmin.open('弹出自动宽高',forwardTeamUrl+"?id="+id);

    }
    function picWatch() {
        var id =$("#id").val();
        xadmin.open('查看团队宣传图片',editPic+"?id="+id);

    }
    //取消申请加入团队
    function quxiaoshenqing(id) {
        layer.confirm('是否取消', {icon: 3, title:'提示'}, function(index){
            //do something
            $.ajax({
                async:false,//同步提交
                url:quxiaoshenqingUrl, //执行的动作地址
                data:{id:id}, //传参数
                success:function(msg){
                    if(msg=='ok')//说明该验证码不对
                    {
                        layer.msg('成功', {
                            icon: 1,
                            time: 2000 //2秒关闭（如果不配置，默认是3秒）
                        }, function(){
                            layer.close(index);
                            location.reload();//刷新父页面
                        });
                    }else {
                        layer.msg("失败")
                        layer.close(index);
                        window.parent.location.reload();//刷新父页面
                    }
                }
            });
        });
    }

    function tuichu() {
        var id =$("#id").val();
        layer.confirm('是否退出', {icon: 3, title:'提示'}, function(index){
            //do something
            $.ajax({
                async:false,//同步提交
                url:tuichuUrl, //执行的动作地址
                data:{id:id}, //传参数
                success:function(msg){
                    if(msg=='ok')//说明该验证码不对
                    {
                        layer.msg('退出成功', {
                            icon: 1,
                            time: 2000 //2秒关闭（如果不配置，默认是3秒）
                        }, function(){
                            layer.close(index);
                            location.reload();//刷新父页面
                        });
                    }else if(msg=='team'){
                        layer.msg('退出失败，队长不能退出团队', {
                            icon: 1,
                            time: 2000 //2秒关闭（如果不配置，默认是3秒）
                        }, function(){
                            layer.close(index);
                            location.reload();//刷新父页面
                        });
                    }else {
                        layer.msg('退出失败', {
                            icon: 1,
                            time: 2000 //2秒关闭（如果不配置，默认是3秒）
                        }, function(){
                            layer.close(index);
                            location.reload();//刷新父页面
                        });
                    }
                }
            });
        });
    }
    //取消创建团队
    function quxiaochuangjian() {
        layer.confirm('是否取消', {icon: 3, title:'提示'}, function(index){
            //do something
            $.ajax({
                async:false,//同步提交
                url:quxiaochuangjianUrl, //执行的动作地址
                success:function(msg){
                    if(msg=='ok')//说明该验证码不对
                    {
                        layer.msg('成功', {
                            icon: 1,
                            time: 2000 //2秒关闭（如果不配置，默认是3秒）
                        }, function(){
                            layer.close(index);
                            location.reload();//刷新父页面
                        });
                    }else {
                        layer.msg('失败', {
                            icon: 1,
                            time: 2000 //2秒关闭（如果不配置，默认是3秒）
                        }, function(){
                            layer.close(index);
                            location.reload();//刷新父页面
                        });
                    }
                }
            });
        });
    }
</script>
</html>