<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<meta name="X-UA-Compatible" content="IE=edge"/>
		<meta name="keywords" content="秘书学系"/>
		<meta name="description" content="XX大学秘书学系"/>
		<title>秘书学系</title>
		<link rel="stylesheet" type="text/css" th:href="@{/main/css/style.css}"/>
		<link rel="stylesheet" th:href="@{/res/layui/css/layui.css}">
	</head>
	<body>
	<div th:insert="~{main/commons/header::hearder}"></div>

	<!--banner-->
		<!--<div class="i_banner">
			<img src="images/banner1.jpg" />
		</div>-->
		<!--content-->
		<div class="i_content">
			<div class="adr_wrap">
				<div class="adr">
					<span class="adr_link"><a th:href="@{/BaseAction/index}">首   页</a>&nbsp;&nbsp;&nbsp;>&nbsp;&nbsp;&nbsp;最新通知</span>
				</div>
			</div>
			<div class="c_area">
				<div class="left_list">
					<div class="nav_title">最新通知</div>
					<div class="sidemenu">
						<ul>
							<li class="on"><a th:href="@{/BaseAction/notice}">最新通知</a></li>
						</ul>
					</div>
					<div class="contact">
						<a href="javascript:;"><img th:src="@{/main/images/tel.jpg}" /></a>
					</div>
				</div>
				<div class="right_content">
					<div class="con_title">最新通知</div>
					<div class="con_box">
						<div class="r_title" ><span th:text="${Notice.title}">科研成果名称科研成果名称科研成果名称科研成果名称</span><p>发布时间：<span th:text="${Notice.sendtime}"></span></p></div>
						<p th:text="${Notice.content}">秘书是领导者、主事者身边的综合辅助者和公务服务者，是以辅助决策、综合协调、沟通信息、办文办会办事等为主要职能活动的领导者、决策者的参谋助手。秘书学是以秘书工作为研究对象，研究其主体与客体及其相互关系的一门学科。它研究秘书工作的产生与发展、职能与环境、性质与作用、规律与特征、原则与要求、程序与环节、方法与艺术、机构与人员，以及秘书工作规范化、科学化、现代化的发展趋势等问题，以促进秘书工作适应社会发展的需要。</p>
						<div class="n_link">
	                        <ul>
	                            <li th:if="${NoticeBefore!=null}">上一条<a th:href="@{/BaseAction/nDetail(id=${NoticeBefore.notid})}" th:text="${NoticeBefore.title}">通知名称</a><span class="date" th:text="${NoticeBefore.sendtime}">2016-05-21</span></li>
	                            <li th:if="${NoticeAfter!=null}">下一条<a th:href="@{/BaseAction/nDetail(id=${NoticeAfter.notid})}" th:text="${NoticeAfter.title}">通知名称</a><span class="date" th:text="${NoticeAfter.sendtime}">2016-05-21</span></li>
	                        </ul>
	                    </div>
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<!--footer-->
	<div th:insert="~{main/commons/footer::footer}"></div>

	<script type="text/javascript" th:src="@{/main/js/jquery-1.11.0.min.js}" ></script>
		<script type="text/javascript" th:src="@{/main/js/jquery.SuperSlide.2.1.js}" ></script>
		<script type="text/javascript" th:src="@{/main/js/common.js}" ></script>
	</body>
</html>
