<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<meta name="X-UA-Compatible" content="IE=edge"/>
		<meta name="keywords" content="秘书学系"/>
		<meta name="description" content="XX大学秘书学系"/>
		<title>通知</title>
		<link rel="stylesheet" type="text/css" th:href="@{/main/css/style.css}"/>
		<link rel="stylesheet" th:href="@{/res/layui/css/layui.css}">
		<script th:src="@{/res/jquery/jquery-3.3.1.min.js}"></script>
	</head>

	<body>
	<div th:insert="~{main/commons/header::hearder}"></div>

	<!--banner-->
		<!--<div class="i_banner">
			<img src="images/banner1.jpg" />
		</div>-->
		<!--content-->
		<div class="i_content">
			<div class="adr_wrap">
				<div class="adr">
					<span class="adr_link"><a href="../index.html">首   页</a>&nbsp;&nbsp;&nbsp;>&nbsp;&nbsp;&nbsp;最新通知</span>
				</div>
			</div>
			<div class="c_area">
				<div class="left_list">
					<div class="nav_title">最新通知</div>
					<div class="sidemenu">
						<ul>
							<li class="on"><a href="">最新通知</a></li>
						</ul>
					</div>
					<div class="contact">
						<a href="contact.html"><img src="images/tel.jpg" /></a>
					</div>
				</div>
				<div class="right_content">
					<div class="con_title">最新通知</div>
					<div class="con_box">
						<ul class="news-list" id="all">
							<li th:each="notice:${session.noticeList}">
								<a th:href="@{/BaseAction/nDetail(id=${notice.notid})}" th:text="${notice.title}">消息名称消息名称消息名称消息名称</a><span class="date" th:text="${notice.sendtime}">2016-05-05</span>
								<p ><span class="notice_span" th:text="${notice.content}" ></span><a th:href="@{/BaseAction/nDetail(id=${notice.notid})}" class="more">[查看更多]</a></p>
							</li>
						</ul>
						<div class="clear"></div>
						<!--分页-->
						<div class="page">
							<div id="page" class="record">
								<span class="prev"><a href="">上一页</a></span>
								<span class="word"><a href="">1</a></span>
								<span class="word"><a href="">2</a></span>
								<span class="word"><a href="">3</a></span>
								<span class="word"><a href="">4</a></span>
								<span class="word"><a href="">5</a></span>
								<span class="word"><a href="">6</a></span>
								<span class="next"><a href="">下一页</a></span>
								<span class="sum">共6页</span>
							</div>
						</div>
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<!--footer-->

	<div th:insert="~{main/commons/footer::footer}"></div>
	<script type="text/javascript" th:src="@{/main/js/jquery-1.11.0.min.js}" ></script>
	<script type="text/javascript" th:src="@{/main/js/jquery.SuperSlide.2.1.js}" ></script>
	<script type="text/javascript" th:src="@{/main/js/common.js}" ></script>
	<script>
        function getzz() {
            var a = $("ul#all li");
            var zz =new Array(a.length);
            for(var i=0;i <a.length;i++){
                zz[i]=a[i].innerHTML;
            } //div的字符串数组付给zz
            return zz;
        }
        function change(e){
            pageno=e;
            if(e<1){
                e=1;pageno=1;//就等于第1页 ， 当前页为1
            }
            if(e>pageall){  //如果输入页大于最大页
                e=pageall;pageno=pageall; //输入页和当前页都=最大页
            }
            $("#all").html("");//全部清空
            var html="";
            for(var i=0;i<pagesize;i++){
                html += '<li>' + zz[(e-1)*pagesize+i] +'</li>';//创建一页的li列表
                if(zz[(e-1)*pagesize+i+1]==null) break;//超出最后的范围跳出
            }
            $("ul#all").html(html);//给ul列表写入html
            var ye="";
            for(var j=1;j<=pageall;j++){
                if(e==j){
                    ye=ye+"<span><a href='#' onClick='change("+j+")' style='color:#FF0000'>"+j+"</a></span> "
                }else{
                    ye=ye+"<a href='#' onClick='change("+j+")'>"+j+"</a> "
                }
            }
            var pageContent="";
            pageContent +='第<span id=\"a2\">'+pageno+'</span>/';
            pageContent +='<span id="a1">'+pageall+'</span>页';
            pageContent +='<span id="a3">'+ye+'</span>';
            pageContent +='<a href="#" onClick="change(--pageno)">上一页</a>';
            pageContent +='<a href="#" onClick="change(++pageno)">下一页</a>';
            $("#page").html(pageContent);
        }
	</script>
	<script>
        var zz=getzz()
        var pageno=1 ; //当前页
        var pagesize=5; //每页多少条信息
        if(zz.length%pagesize==0){
            var  pageall =zz.length/pagesize ;
        }else{
            var  pageall =parseInt(zz.length/pagesize)+1;
        }   //一共多少页
        change(1);
	</script>
	</body>

</html>
