<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/main/css/style.css}"/>
    <title>Title</title>
</head>
<body>
<div class="footer_wrap" th:fragment="footer">
    <div class="line"></div>
    <div class="footer">
        <div class="f_left">
            <img th:src="@{/main/images/jsjxy.jpg}" style="width: 80px;height: 80px" class="f_logo" />
            <div class="contact">
                <p><a href="javascrip:void(0);">联系我们</a><a href="javascrip:void(0);">站长统计</a></p>
                <p>航空港校区&nbsp;&nbsp;&nbsp;&nbsp;所在地址：四川省成都市西南航空经济开发区学府路一段24号</p>
                <p>版权所有：  成都信息工程大学计算机学院&nbsp;&nbsp;&nbsp;&nbsp;电话：028-85966393&nbsp;&nbsp;&nbsp;&nbsp;</p>
            </div>
        </div>
        <div class="f_right">
            <p><a href="" style="text-decoration: underline;">官网入口</a></p>
            <p><a href=""></a></p>
        </div>
        <div class="clear"></div>
    </div>
</div>
</body>
</html>