<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/main/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/res/layui/css/layui.css}">
    <title>Title</title>
</head>
<body>
<div th:fragment="hearder">
    <!--header-->
    <div class="top_wrap">
        <!--top index-->
        <div class="top">
            <span class="welcome">欢迎您访问成都信息工程大学计算机学院学科竞赛管理网站！</span>
            <div class="corner">
                <a onclick=SetHome(this,window.location) title="设为首页" href="javascript:void(0);">设为首页</a>
                <span>|</span>
                <a onclick=addFavorite(window.location,document.title) title="添加收藏" href="javascript:void(0);">加入收藏</a>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <!--logo and nav-->
    <div class="header_wrap">
        <div class="header">
            <a th:href="@{/BaseAction/index}" class="logo"><img th:src="@{/main/images/newlogo.png}" style="height: 72px"/></a>
            <div class="nav_list">
                <ul id="nav" class="nav clearfix">
                    <li class="nLi" style="display: none;"></li>
                    <li class="nLi">
                        <h3><a href="main/about.html">在线报名</a></h3>
                        <ul class="sub" >
                            <li th:each="comTp:${session.comTp}"><a th:href="@{/User/signUp(id=${comTp.comtpid})}"><div th:text="${comTp.name}"></div></a></li>
                        </ul>
                    </li>
                    <li class="nLi">
                        <h3><a href="main/teachers.html">新闻公告</a></h3>
                        <ul class="sub">
                            <li><a href="main/teachers.html">综合新闻</a></li>
                            <li><a th:href="@{/BaseAction/notice}">通知公告</a></li>
                            <li><a href="main/technology.html">获奖公告</a></li>
                        </ul>
                    </li>
                    <li class="nLi">
                        <h3><a href="main/study.html">在线学习</a></h3>
                        <ul class="sub">
                            <li><a href="main/study.html">学习成果</a></li>
                            <li><a href="main/study.html">文档学习</a></li>
                            <li><a href="main/student.html">在线测试</a></li>
                        </ul>
                    </li>
                    <li th:if="${session.loginUser!=null}" class="nLi">
                        <h3><a><img src="http://t.cn/RCzsdCq" class="layui-nav-img"></a></h3>
<!--
                        <h3>欢迎你<span th:text="${session.loginUser.truename}"></span></h3>
-->
                        <ul class="sub">
                            <li><a th:href="@{/User/mine}">个人中心</a></li>
                            <li><a th:href="@{/User/mine}">修改密码</a></li>
                            <li><a th:href="@{/LoginAction/logout}">退出登录</a></li>
                        </ul>
                    </li>

                    <li th:if="${session.loginUser==null}" class="nLi">
                        <h3><a><img src="http://t.cn/RCzsdCq" class="layui-nav-img"></a></h3>
                        <ul class="sub">
                            <li><a th:href="@{/LoginAction/toLogin}">登录</a></li>
                            <li><a th:href="@{/LoginAction/toReg}">在线注册</a></li>
                        </ul>
                    </li>
                </ul>

            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
</body>
</html>