<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8">
        <title>欢迎页面-X-admin2.2</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<!--
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
-->
        <link rel="stylesheet" th:href="@{/admin/css/font.css}">
        <link rel="stylesheet" th:href="@{/admin/css/xadmin.css}">
        <script th:src="@{/admin/lib/layui/layui.js}" charset="utf-8"></script>
        <script type="text/javascript" th:src="@{/admin/js/xadmin.js}"></script>
        <script type="text/javascript" th:src="@{/res/jquery/jquery-3.3.1.min.js}"></script>
        <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
        <!--[if lt IE 9]>
          <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
          <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>
    <body>
        <div class="layui-fluid">
                <div class="layui-row layui-col-space15">
                    <div class="layui-col-md12" >
                        <div class="layui-card">
                            <div class="layui-card-header">我指导的竞赛团队</div>
                            <div class="layui-card-body ">
                                <ul class="layui-row layui-col-space10 layui-this x-admin-carousel x-admin-backlog">
                                    <li class="layui-col-md2 layui-col-xs6" th:each="team:${teamList}">
                                        <a href="#" class="x-admin-backlog-body layui-row layui-col-space10" >
                                            <div class="layui-col-xs8">
                                                <p>团队名称：<span th:text="${team.teamname}"></span></p>
                                                <p>团队描述：<span th:text="${team.info}"></span></p>
                                                <p>队长名字：<span th:text="${team.captain.truename}"></span></p>
                                            </div>
                                            <div class="layui-col-xs4">
                                                <div class="layui-row">
                                                    <button class="layui-btn layui-btn-normal">查看详情</button>
                                                </div>
                                                <div class="layui-row">
                                                    <button class="layui-btn layui-btn-normal">解散团队</button>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div><!--没有团队且没有报名竞赛-->
                    <div class="layui-col-md12" >
                        <div class="layui-card">
                            <div class="layui-card-header">申请让我指导的团队
                            </div>
                            <div class="layui-card-body ">
                                <ul class="layui-row layui-col-space10 layui-this x-admin-carousel x-admin-backlog">
                                    <li class="layui-col-md2 layui-col-xs6" th:each="team:${teamList2}">
                                        <a  class="x-admin-backlog-body layui-row layui-col-space10" target="_blank">
                                            <div class="layui-col-xs8">
                                                <p >团队名称:<span th:text="${team.teamname}"></span></p>
                                                <p >申请人:<span th:text="${team.captain.truename}"></span></p>
                                                <p >团队介绍:<span th:text="${team.info}"></span></p>
                                            </div>
                                            <div class="layui-col-xs4">
                                                <div class="layui-row">
                                                    <button class="layui-btn layui-btn-normal" th:onclick="tongyi([[${team}]])">同意申请</button>
                                                </div>
                                                <div class="layui-row">
                                                    <button class="layui-btn layui-btn-normal">拒绝申请</button>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div><!--没有团队但是报名了竞赛-->
                </div>
        </div>
    </body>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var Tongyi = /*[[@{/Teacher/tongyi}]]*/;//获取动作地址
        var baoming = /*[[@{/User/baomingTeam}]]*/;//获取动作地址
        var teamAdd = /*[[@{/User/toTeamAdd}]]*/;//获取动作地址
        /*]]>*/

    $("#creatTeam").click(function () {
        xadmin.open('新增竞赛种类',teamAdd,500,400)
    })
    function tongyi(team) {
        layer.confirm('是否同意创建', {icon: 3, title:'提示'}, function(index){
            //do something
            $.ajax({
                async:false,//同步提交
                url:Tongyi, //执行的动作地址
                data:{parm:JSON.stringify(team)}, //传参数
                success:function(msg){
                    if(msg=='ok')//说明该验证码不对
                    {
                        layer.msg("同意成功")
                        layer.close(index);
                        window.parent.location.reload();//刷新父页面
                    }else {
                        layer.msg("失败")
                        layer.close(index);
                        window.parent.location.reload();//刷新父页面
                    }
                }
            });
        });
    }
    function jujue(team) {
        layer.confirm('是否拒绝', {icon: 3, title:'提示'}, function(index){
            //do something
            console.log(teamUser)
            //layer.msg("申请成功团队id是:"+teamUser)
            layer.close(index);
            window.parent.location.reload();//刷新父页面
        });
    }
    </script>
</html>