<!DOCTYPE >
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>学生管理页面</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!--
            <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    -->
    <link rel="stylesheet" th:href="@{/admin/css/font.css}">
    <link rel="stylesheet" th:href="@{/admin/css/xadmin.css}">
    <!-- <link rel="stylesheet" href="./css/theme5.css"> -->
    <script th:src="@{/admin/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/admin/js/xadmin.js}"></script>
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <input id="id" th:value="${{id}}" type="hidden">
                <div class="layui-card-body ">
                    <table id="tabTitle" lay-filter="tabTitle"></table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<script type="text/html" id="barDemo">
    <a onclick="resetPW({{d.id}})" title="重置密码" href="javascript:;">
        <i class="layui-icon">&#xe631;</i>
    </a>
    <a title="删除" onclick="member_del(this,{{d.id}})" href="javascript:;">
        <i class="layui-icon">&#xe640;</i>
    </a>
    <!-- 这里同样支持 laytpl 语法，如： -->
    <!--{{#  if(d.experience > 100){ }}
    <a class="layui-btn layui-btn-xs" lay-event="check">审核</a>
    {{#  } }}-->
</script>
<script type="text/html" id="zizeng">
    {{d.LAY_TABLE_INDEX+1}}
</script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var Url = /*[[@{/AdminMember/teamuser}]]*/;//获取动作地址
    /*]]>*/


    layui.use(['table', 'layer', 'element', 'jquery', 'form'], function (table, layer, element, $, form) {
        var id =$("#id").val();
        // 监听修改update到表格中


        var table = layui.table;
        //执行渲染初始化表格
        table.render({
            elem: '#tabTitle' //指定原始表格元素选择器（推荐id选择器）
            ,id:'tabTitle'
            ,url: Url
            ,height: 'full-150'
            ,method: 'post'
            ,toolbar: '#toolbarDemo'
            ,where: {id: id}
            ,cols:  [
                [ //标题栏
                    /*{checkbox: true}
                    ,{field: 'id', title: 'ID', width: 80,sort: true}
                    ,*/
                    {field:'zizeng', width:80, title: '序号',fixed: 'left',templet:'#zizeng'},
                    {
                        field: 'username', title: '姓名', width: 120 ,
                        templet: function (d) {
                            return d.student.truename;
                        }
                    }

                    ,{
                        field: 'email',  minWidth: 100, title: '邮箱',
                        templet: function (d) {
                            return d.student.email;
                        }
                    }
                    ,
                    {
                        field: 'card',  Width: 80, title: '学号',
                        templet: function (d) {
                            return d.student.card;
                        }
                    }
                    ,{
                        field: 'createtime', width: 100, title: '组团状态' ,
                        templet: function (d) {
                            return d.teamUserState;
                        }
                    }

                    ,{field:'caozuo',toolbar: '#barDemo',title:'操作'}
                ]
            ]
        });




    })


</script>


<script th:inline="javascript">

    /*<![CDATA[*/
    var deleteUrl = /*[[@{/AdminMember/setUserState}]]*/;//获取动作地址
    var resetPwUrl = /*[[@{/AdminMember/resetPw}]]*/;//获取动作地址
    /*]]>*/

    /*用户-删除*/
    function member_del(obj,id){
        var flag = true;
        layer.confirm('确认要删除吗?', {icon: 3, title:'提示'}, function(index){
            //发异步删除数据
            $.ajax({
                url: deleteUrl,
                data:{id:id,state:0},
                async:true,
                dataType:'json',
                success:function(msg){
                    if(msg=="error"){
                        flag=false;
                    }
                }
            })
            if(flag==true){
                $(obj).parents("tr").remove();
                layer.msg('已删除!',{icon:1,time:1000});
            }else {
                layer.msg('删除失败!',{icon:1,time:1000});
            }
            layer.close(index);
        });
    }
    //重置用户密码
    function resetPW(id) {
        var flag = true;
        layer.confirm('确认要重置密码为”000000“吗?', {icon: 3, title:'提示'}, function(index){
            //发异步删除数据
            $.ajax({
                url: resetPwUrl,
                data:{id:id},
                async:true,
                dataType:'json',
                success:function(msg){
                    if(msg=="error"){
                        flag=false;
                    }
                }
            })
            if(flag==true){
                layer.msg('重置成功!',{icon:1,time:1000});
            }else {
                layer.msg('重置失败!',{icon:1,time:1000});
            }
            layer.close(index);
        });
    }
</script>
</html>