<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<meta name="X-UA-Compatible" content="IE=edge"/>
		<title>计算机学院学科竞赛</title>
		<link rel="stylesheet" type="text/css" th:href="@{/main/css/style.css}"/>
		<link rel="stylesheet" th:href="@{/res/layui/css/layui.css}">
	</head>
	<body>
	<div th:insert="~{main/commons/header::hearder}"></div>
	<!--<div>
		&lt;!&ndash;header&ndash;&gt;
		<div class="top_wrap">
			&lt;!&ndash;top index&ndash;&gt;
			<div class="top">
				<span class="welcome">欢迎您访问成都信息工程大学计算机学院学科竞赛管理网站！</span>
				<div class="corner">
					<a onclick=SetHome(this,window.location) title="设为首页" href="javascript:void(0);">设为首页</a>
					<span>|</span>
					<a onclick=addFavorite(window.location,document.title) title="添加收藏" href="javascript:void(0);">加入收藏</a>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		&lt;!&ndash;logo and nav&ndash;&gt;
		<div class="header_wrap">
			<div class="header">
				<a href="index.html" class="logo"><img th:src="@{/main/images/newlogo.png}" style="height: 72px"/></a>
				<div class="nav_list">
					<ul id="nav" class="nav clearfix">
						<li class="nLi" style="display: none;"></li>
						<li class="nLi">
							<h3><a href="main/about.html">在线报名</a></h3>
							<ul class="sub">
								<li><a href="main/about.html">ACM中国</a></li>
								<li><a href="main/about.html">中国计算机学会</a></li>
								<li><a href="main/about.html">互动媒体工作室</a></li>
							</ul>
						</li>
						<li class="nLi">
							<h3><a href="main/teachers.html">新闻公告</a></h3>
							<ul class="sub">
								<li><a href="main/teachers.html">综合新闻</a></li>
								<li><a href="main/technology.html">通知公告</a></li>
								<li><a href="main/technology.html">获奖公告</a></li>
							</ul>
						</li>
						<li class="nLi">
							<h3><a href="main/study.html">在线学习</a></h3>
							<ul class="sub">
								<li><a href="main/study.html">学习成果</a></li>
								<li><a href="main/study.html">文档学习</a></li>
								<li><a href="main/student.html">在线测试</a></li>
							</ul>
						</li>
						<li th:if="${session.loginUser!=null}" class="nLi">
							<h3>欢迎你<div th:text="${session.loginUser.truename}"></div></h3>
							<ul class="sub">
								<li><a href="main/resource.html">技能类</a></li>
								<li><a href="main/resource.html">法文类</a></li>
								<li><a href="main/resource.html">其他</a></li>
								<li><a th:href="@{/LoginAction/logout}">退出登录</a></li>
							</ul>
						</li>

						<li th:if="${session.loginUser==null}" class="nLi">
							<h3><a><img src="http://t.cn/RCzsdCq" class="layui-nav-img"></a></h3>
							<ul class="sub">
								<li><a th:href="@{/LoginAction/toLogin}">登录</a></li>
								<li><a th:href="@{/LoginAction/toReg}">在线注册</a></li>
							</ul>
						</li>
					</ul>

				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>-->
		<!--banner-->
		<div class="banner">
			<div class="bd">
				<ul>
					<li class="first"><a href="javascript:void(0);">1</a></li>
					<li class="second"><a href="javascript:void(0);">2</a></li>
					<li class="third"><a href="javascript:void(0);">3</a></li>
                    <li class="fourth"><a href="javascript:void(0);">4</a></li>
					<li class="fifth"><a href="javascript:void(0);">5</a></li>
				</ul>
			</div>
			<div class="hd"><ul></ul></div>
		</div>
		<!--content-->
		<div class="content">
			<div class="left_tab">
				<div class="hd">
					<ul><li class="first">竞赛宣传</li><li class="second">团队宣传</li><li class="third">团队活动</li></ul>
				</div>
				<div class="bd">
					<div class="box">
						<a href="main/about1.html" class="more">MORE+</a>
						<ul class="clearfix">
							<li th:each="competition:${session.competitions}">
								<a th:href="${competition.comsrc}" target="_blank">
									<img th:src="@{/competitionPic/{filename}(filename=${competition.pic})}">
									<h4 th:text="${competition.miaosu}">标题名称标题名称标题名称标题名称标题名称</h4>
									<p>竞赛种类：<span class="date" th:text="${competition.comtype.name}">2016-05-05</span></p>
								</a>
							</li>
						</ul>
					</div>
					<div class="box">
						<a href="main/secret.html" class="more">MORE+</a>
						<ul class="clearfix">
							<li><a href="main/secret.html"><img th:src="@{/competitionPic/8345a49ae2ce4a6fb2aadf3c4a674191QQ浏览器截图20200302161830.png}" /><h4>标题名称标题名称标题名称标题名称标题名称</h4><span class="date">2016-05-05</span></a></li>
							<li><a href="main/secret.html"><img th:src="@{/main/images/s2.jpg}" /><h4>标题名称标题名称标题名称标题名称标题名称</h4><span class="date">2016-05-05</span></a></li>
							<li><a href="main/secret.html"><img th:src="@{/main/images/s3.jpg}" /><h4>标题名称标题名称标题名称标题名称标题名称</h4><span class="date">2016-05-05</span></a></li>
							<li><a href="main/secret.html"><img th:src="@{/main/images/s4.jpg}" /><h4>标题名称标题名称标题名称标题名称标题名称</h4><span class="date">2016-05-05</span></a></li>
							<li><a href="main/secret.html"><img th:src="@{/main/images/s5.jpg}" /><h4>标题名称标题名称标题名称标题名称标题名称</h4><span class="date">2016-05-05</span></a></li>
							<li><a href="main/secret.html"><img th:src="@{/main/images/s6.jpg}" /><h4>标题名称标题名称标题名称标题名称标题名称</h4><span class="date">2016-05-05</span></a></li>
						</ul>
					</div>
					<div class="box">
						<a href="main/news.html" class="more">MORE+</a>
						<ul class="clearfix">
							<li><a href="main/nDetail.html"><img th:src="@{/main/images/n1.jpg}" /><h4>标题名称标题名称标题名称标题名称标题名称</h4><span class="date">2016-05-05</span></a></li>
							<li><a href="main/nDetail.html"><img th:src="@{/main/images/n2.jpg}" /><h4>标题名称标题名称标题名称标题名称标题名称</h4><span class="date">2016-05-05</span></a></li>
							<li><a href="main/nDetail.html"><img th:src="@{/main/images/n3.jpg}" /><h4>标题名称标题名称标题名称标题名称标题名称</h4><span class="date">2016-05-05</span></a></li>
							<li><a href="main/nDetail.html"><img th:src="@{/main/images/n4.jpg}" /><h4>标题名称标题名称标题名称标题名称标题名称</h4><span class="date">2016-05-05</span></a></li>
							<li><a href="main/nDetail.html"><img th:src="@{/main/images/n5.jpg}" /><h4>标题名称标题名称标题名称标题名称标题名称</h4><span class="date">2016-05-05</span></a></li>
							<li><a href="main/nDetail.html"><img th:src="@{/main/images/n6.jpg}" /><h4>标题名称标题名称标题名称标题名称标题名称</h4><span class="date">2016-05-05</span></a></li>
						</ul>
					</div>
				</div>
			</div><!--左侧-->
			<div class="right_box">
				<!--notice-->
				<div class="notice">
					<div class="n_title">
						<b>最新通知</b>
						<a th:href="@{/BaseAction/notice}">MORE+</a>
					</div>
					<div class="bd">
						<ul class="infoList">
							<li th:each="notice:${session.noticeListInFive}"><a th:href="@{/BaseAction/nDetail(id=${notice.notid})}"><div th:text="${notice.title}"></div></a><span class="date" th:text="${notice.sendtime}">2016-05-11</span></li>
						</ul>
					</div>
				</div>
				<!--code-->
				<div class="code">
					<img th:src="@{/main/images/erweima.png}" />
				</div>
			</div><!--右侧-->
			<div class="clear"></div>
			<div class="friend_link">
				<b>友情链接：</b><a href="http://jszx.cuit.edu.cn/" target="_blank">计算中心</a><a href="http://www.cuit.edu.cn" target="_blank">成都信息工程大学</a>
			</div>
		</div>
		<!--footer-->
		<!--<div class="footer_wrap">
			<div class="line"></div>
			<div class="footer">
				<div class="f_left">
					<img th:src="@{/main/images/jsjxy.jpg}" style="width: 80px;height: 80px" class="f_logo" />
					<div class="contact">
						<p><a href="javascrip:void(0);">联系我们</a><a href="javascrip:void(0);">站长统计</a></p>
						<p>航空港校区&nbsp;&nbsp;&nbsp;&nbsp;所在地址：四川省成都市西南航空经济开发区学府路一段24号</p>
						<p>版权所有：  成都信息工程大学计算机学院&nbsp;&nbsp;&nbsp;&nbsp;电话：028-85966393&nbsp;&nbsp;&nbsp;&nbsp;</p>
					</div>
				</div>
				<div class="f_right">
					<p><a href="" style="text-decoration: underline;">官网入口</a></p>
					<p><a href=""></a></p>
				</div>
				<div class="clear"></div>
			</div>
		</div>-->
	<div th:insert="~{main/commons/footer::footer}"></div>
	<script type="text/javascript" th:src="@{/main/js/jquery-1.11.0.min.js}" ></script>
		<script type="text/javascript" th:src="@{/main/js/jquery.SuperSlide.2.1.js}" ></script>
		<script type="text/javascript" th:src="@{/main/js/common.js}" ></script>
		<script type="text/javascript">
			//banner滚动效果
			jQuery(".banner").slide({ titCell:".hd ul", mainCell:".bd ul", effect:"fold",  autoPlay:true, autoPage:true, trigger:"click" });
			//tab切换效果
			jQuery(".left_tab").slide();
			//news滚动效果
			jQuery(".notice").slide({mainCell:".bd ul",autoPage:true,effect:"top",autoPlay:true,vis:3});
		</script>
	</body>
</html>
