<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>成都信息工程大学学科竞赛管理系统登录页面</title>
<link th:href="@{/login/css/login.css}" rel="stylesheet" rev="stylesheet" type="text/css" media="all" />
<script type="text/javascript" th:src="@{/login/js/jQuery1.7.js}"></script>
<script type="text/javascript" th:src="@{/login/js/jquery-1.8.2.min.js}"></script>
<script type="text/javascript" th:src="@{/login/js/jquery1.42.min.js}"></script>
<script type="text/javascript" th:src="@{/login/js/jquery.SuperSlide.js}"></script>
<script type="text/javascript" th:src="@{/login/js/Validform_v5.3.2_min.js}"></script>
<!--<script type="text/javascript">
$(document).ready(function(){
	var $tab_li = $('#tab ul li');
	$tab_li.hover(function(){
		$(this).addClass('selected').siblings().removeClass('selected');
		var index = $tab_li.index(this);
		$('div.tab_box > div').eq(index).show().siblings().hide();
	});	
});
</script>-->
<script th:inline="javascript">
    /*<![CDATA[*/
    var loginUrl = /*[[@{/users/login}]]*/;//获取动作地址
    var stuloginSuccessUrl = /*[[@{/BaseAction/index}]]*/;
    var secloginSuccessUrl = /*[[@{/Admin/toAdmin}]]*/;
    /*]]>*/
$(function(){
/*学生登录信息验证*/
/*$("#stu_username_hide").focus(function(){
 var username = $(this).val();
 if(username=='输入学号'){
 $(this).val('');
 }
});
$("#stu_username_hide").focusout(function(){
 var username = $(this).val();
 if(username==''){
 $(this).val('输入学号');
 }
});
$("#stu_password_hide").focus(function(){
 var username = $(this).val();
 if(username=='输入密码'){
 $(this).val('');
 }
});
$("#stu_password_hide").focusout(function(){
 var username = $(this).val();
 if(username==''){
 $(this).val('输入密码');
 }
});
$("#stu_code_hide").focus(function(){
 var username = $(this).val();
 if(username=='输入验证码'){
 $(this).val('');
 }
});
$("#stu_code_hide").focusout(function(){
 var username = $(this).val();
 if(username==''){
 $(this).val('输入验证码');
 }
});*/
$(".stu_login_error").Validform({
	tiptype:function(msg,o,cssctl){
		var objtip=$(".stu_error_box");
		cssctl(objtip,o.type);
		objtip.text(msg);
	},
    callback:function(data){
	    if(data.status=='y'){
            window.location.href = stuloginSuccessUrl;
        }else{
        }
    },
	ajaxPost:true
});
/*导师登录信息验证*/
    {
$("#tea_username_hide").focus(function(){
 var username = $(this).val();
 if(username=='输入教工号'){
 $(this).val('');
 }
});
$("#tea_username_hide").focusout(function(){
 var username = $(this).val();
 if(username==''){
 $(this).val('输入教工号');
 }
});
$("#tea_password_hide").focus(function(){
 var username = $(this).val();
 if(username=='输入密码'){
 $(this).val('');
 }
});
$("#tea_password_hide").focusout(function(){
 var username = $(this).val();
 if(username==''){
 $(this).val('输入密码');
 }
});
$("#tea_code_hide").focus(function(){
 var username = $(this).val();
 if(username=='输入验证码'){
 $(this).val('');
 }
});
$("#tea_code_hide").focusout(function(){
 var username = $(this).val();
 if(username==''){
 $(this).val('输入验证码');
 }
});
$(".tea_login_error").Validform({
	tiptype:function(msg,o,cssctl){
		var objtip=$(".tea_error_box");
		cssctl(objtip,o.type);
		objtip.text(msg);
	},
	ajaxPost:true
});
    }
/*教务登录信息验证*/
$("#sec_username_hide").focus(function(){
 var username = $(this).val();
 if(username=='输入教务号'){
 $(this).val('');
 }
});
$("#sec_username_hide").focusout(function(){
 var username = $(this).val();
 if(username==''){
 $(this).val('输入教务号');
 }
});
$("#sec_password_hide").focus(function(){
 var username = $(this).val();
 if(username=='输入密码'){
 $(this).val('');
 }
});
$("#sec_password_hide").focusout(function(){
 var username = $(this).val();
 if(username==''){
 $(this).val('输入密码');
 }
});
$("#sec_code_hide").focus(function(){
 var username = $(this).val();
 if(username=='输入验证码'){
 $(this).val('');
 }
});
$("#sec_code_hide").focusout(function(){
 var username = $(this).val();
 if(username==''){
 $(this).val('输入验证码');
 }
});
$(".sec_login_error").Validform({
	tiptype:function(msg,o,cssctl){
		var objtip=$(".sec_error_box");
		cssctl(objtip,o.type);
		objtip.text(msg);
	},
    callback:function(data){
        if(data.status=='y'){
            window.location.href = secloginSuccessUrl;
        }else{
        }
    },
	ajaxPost:true
});
});
</script>
<script type="text/javascript">
$(function(){
	$(".screenbg ul li").each(function(){
		$(this).css("opacity","0");
	});
	$(".screenbg ul li:first").css("opacity","1");
	var index = 0;
	var t;
	var li = $(".screenbg ul li");	
	var number = li.size();
	function change(index){
		li.css("visibility","visible");
		li.eq(index).siblings().animate({opacity:0},3000);
		li.eq(index).animate({opacity:1},3000);
	}
	function show(){
		index = index + 1;
		if(index<=number-1){
			change(index);
		}else{
			index = 0;
			change(index);
		}
	}
	t = setInterval(show,8000);
	//根据窗口宽度生成图片宽度
	var width = $(window).width();
	$(".screenbg ul img").css("width",width+"px");
});
</script>
</head>

<body>
<div id="tab">
  <!--<ul class="tab_menu">
    <li class="selected">学生登录</li>
    <li>导师登录</li>
    <li>教务登录</li>
  </ul>-->
  <div class="tab_box"> 

    <div>
      <div class="stu_error_box"></div>
      <form th:action="@{/LoginAction/login}" method="post" class="stu_login_error">
        <div id="username">
          <label>用&nbsp;户&nbsp;名：</label>
          <input type="text" id="stu_username_hide" name="username"   nullmsg="用户名不能为空！" datatype="s5-18" errormsg="用户名范围在5~18个字符之间！" sucmsg="用户名验证通过！"/>
          <!--ajaxurl="demo/valid.jsp"--> 
        </div>
        <div id="password">
          <label>密&nbsp;&nbsp;&nbsp;码：</label>
          <input type="password" id="stu_password_hide" name="password"  nullmsg="密码不能为空！" datatype="*6-16" errormsg="密码范围在6~16位之间！" sucmsg="密码验证通过！"/>
        </div>


        <div id="code">
          <label>验证码：</label>
          <input type="text" id="stu_code_hide" name="validatecode"   nullmsg="验证码不能为空！" datatype="*4-4" errormsg="验证码有4位数！" sucmsg="验证码验证通过！"/>
          <img th:src="@{/LoginAction/defaultKaptcha}" alt="验证码" title="看不清楚，点击换一张"
               onclick="this.src='./defaultKaptcha?d='+new Date()*1"/>
        </div>
        <div id="remember">
          <input type="checkbox" name="remember">
          <label>记住密码</label>
        </div>
        <div id="login">
          <button type="submit">登录</button>
        </div>
      </form>
    </div><!-- 学生登录 -->
    <!--<div class="hide">
     <div class="tea_error_box"></div>
      <form action="" method="post" class="tea_login_error">
        <div id="username">
          <label>教工号：</label>
          <input type="text" id="tea_username_hide" name="username" value="输入教工号" nullmsg="教工号不能为空！" datatype="s6-18" errormsg="教工号范围在6~18个字符之间！" sucmsg="教工号验证通过！"/>
          &lt;!&ndash;ajaxurl="demo/valid.jsp"&ndash;&gt;
        </div>
        <div id="password">
          <label>密&nbsp;&nbsp;&nbsp;码：</label>
          <input type="password" id="tea_password_hide" name="password" value="输入密码" nullmsg="密码不能为空！" datatype="*6-16" errormsg="密码范围在6~16位之间！" sucmsg="密码验证通过！"/>
        </div>
        <div id="code">
          <label>验证码：</label>
          <input type="text" id="stu_code_hide" name="validatecode"  value="输入验证码" nullmsg="验证码不能为空！" datatype="*4-4" errormsg="验证码有4位数！" sucmsg="验证码验证通过！"/>
          <img th:src="@{/LoginAction/defaultKaptcha}" alt="验证码" title="看不清楚，点击换一张"
               onclick="this.src='./defaultKaptcha?d='+new Date()*1"/>
        <div id="remember">
          <input type="checkbox" name="remember">
          <label>记住密码</label>
        </div>
        <div id="login">
          <button type="submit">登录</button>
        </div>
      </form>
    </div>&lt;!&ndash; 导师登录结束&ndash;&gt;
    <div class="hide">
    <div class="sec_error_box"></div>
      <form th:action="@{/LoginAction/login}" method="post" class="sec_login_error">
        <div id="username">
          <label>教务号：</label>
          <input type="text" id="sec_username_hide" name="username" value="输入教务号" nullmsg="教务号不能为空！" datatype="s5-18" errormsg="教务号范围在5~18个字符之间！" sucmsg="教务号验证通过！"/>
          &lt;!&ndash;ajaxurl="demo/valid.jsp"&ndash;&gt;
        </div>
        <div id="password">
          <label>密&nbsp;&nbsp;&nbsp;码：</label>
          <input type="password" id="sec_password_hide" name="password" value="输入密码" nullmsg="密码不能为空！" datatype="*6-16" errormsg="密码范围在6~16位之间！" sucmsg="密码验证通过！"/>
        </div>
        <div id="code">
          <label>验证码：</label>
          <input type="text" id="stu_code_hide" name="validatecode"  value="输入验证码" nullmsg="验证码不能为空！" datatype="*4-4" errormsg="验证码有4位数！" sucmsg="验证码验证通过！"/>
          <img th:src="@{/LoginAction/defaultKaptcha}" alt="验证码" title="看不清楚，点击换一张"
               onclick="this.src='./defaultKaptcha?d='+new Date()*1"/>
        </div>
        <div id="remember">
          <input type="checkbox" name="remember">
          <label>记住密码</label>
        </div>
        <div id="login">
          <button type="submit">登录</button>
        </div>
      </form>
    </div> -->

  </div>
</div>
<div class="bottom">©2020 Leting <a href="javascript:;" >关于</a> <span>蜀ICP备05006389号-1</span>  <a href="https://www.cuit.edu.cn/" target="_blank">成都信息工程大学</a></div>
<div class="screenbg">
  <ul>
    <li><a href="javascript:;"><img th:src="@{/login/images/0.jpg}"></a></li>
    <li><a href="javascript:;"><img th:src="@{/login/images/1.jpg}"></a></li>
    <li><a href="javascript:;"><img th:src="@{/login/images/2.jpg}"></a></li>
  </ul>
</div>
</body>
</html>
